Babel==2.9.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
click==7.1.2
colorama==0.4.4
dnspython==2.1.0
docutils==0.17
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flake8==3.9.0
Flask==1.1.2
Flask-FlatPages==0.7.3
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.5.1
Frozen-Flask==0.15
greenlet==1.0.0
gunicorn==20.1.0
html5==0.0.9
html5lib==1.1
importlib-metadata==3.10.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
pandas==1.2.4
pandocfilters==1.4.3
psycopg2-binary==2.8.6
pylint==2.7.4
pymongo==3.11.4
python-dotenv==0.18.0
python-dateutil==2.8.1
regex==2021.4.4
requests==2.25.1
soupsieve==2.2.1
splinter==0.14.0
SQLAlchemy==1.4.7
threadpoolctl==2.1.0
webdriver-manager==3.4.2
webencodings==0.5.1
Werkzeug==1.0.1
wheel==0.36.2
xmltodict==0.12.0

